body {
    background-color: #333;
    color: #eee;
}

table {
    border-collapse: collapse;
}

th, td {
    background-color: #555;
    border: 1px solid #444;
}

th {
    text-align: left;
}

.matchtable {
    margin: 4px;
}

.matchtable--content {
    padding: 4px 8px;
}

.match--info {
    color: #227;
}

.difficulty--baby {
    background-color: #4f4;
}

.difficulty--easy {
    background-color: #7d3;
}

.difficulty--medium {
    background-color: #ee0;
}

.difficulty--hard {
    background-color: #fa3;
}

.difficulty--nightmare {
    background-color: #f66;
}

.round--matches {
    list-style-type: none;
}

.overlay--container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.overlay--container:hover .overlay {
    display: block;
    z-index: 2;
}

.team--details {
    border: 1px solid #eee;
}
.team--details__data {
    background: #888;
}
.team--details__data th,
.team--details__data td {
    padding: 4px 8px;
    white-space: nowrap;
}
