th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 4px;
}

th {
    text-align: left;
}

.difficulty--baby {
    background-color: green;
}

.difficulty--easy {
    background-color: greenyellow;
}

.difficulty--medium {
    background-color: yellow;
}

.difficulty--hard {
    background-color: orange;
}

.difficulty--nightmare {
    background-color: red;
}